<!DOCTYPE html>
<html lang="" data-ng-app="ArrayExample">
<head>
  <meta t="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Arrays Controllers Filters</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js" type="application/javascript"></script>   
     <script src="js/array.js"></script>
  <link rel="stylesheet" href="css/main.css">    
</head>

<body>
    <div ng-controller="myController">
       <p>Search For: <input type="text" ng-model="search"></p>
       <ul>
         <li ng-repeat="x in names | filter:search | orderBy:'country'">
              {{ fullName(x.firstname , x.lastname) +  ' , ' + (x.country | uppercase) }}
         </li>
       </ul>
    </div>
</body>
   
</html>