/* app css stylesheet */
body{
    background-color:#D6DBDF;
}

a{
    position: relative;
    font-size: x-large;
    color: #5e5e5e;
    text-align: center;
}

.menu {
  list-style: upper-latin;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu input{
    width: 300px;
    border: 2px solid #3498DB;
    border-radius: 4px;
    color: #5e5e5e;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 6px;
    margin-top: 10px;
    align-content: center;
}
.menu button{
    width: 419px;
    height:40px;
    background: #3498DB;
    border:  2px solid #D6DBDF;
    cursor: pointer;
    border-radius: 4px;
    color: #ffffff;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 6px;
    margin-top: 10px;
}

.container{
    margin-left: 20%;
    margin-right: 20%;
}

